/* #region base */

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --select-border: #777;
    --select-focus: blue;
    --input-focus-s: 100%;
    --input-focus-l: 42%;
    --select-arrow: var(--select-border);
}

body {
    margin: 5px 25px 10px 25px;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.controller-body {
    background-color: black;
    background-image: radial-gradient(
    rgba(0, 150, 0, 0.75), black 120%
    );
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    color: white;
    font: 1.3rem Inconsolata, monospace;
    text-shadow: 0 0 5px #C8C8C8;

}

/* #endregion base */

/* #region slider */

.slider-set {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slider-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 10vh;
    margin-bottom: 2em;

}

.slider-details {
    display: flex;
    flex-direction: row;
    height: 5vh;
    margin-bottom: 0.5em
}

.slider-controls {
    display: flex;
    flex-direction: row;
    height: 15vh;
}

.slider-details-pin {
    font-weight: bold;
    font-size: x-large;

    height: 5vh;
    line-height: 5vh;
    width: 10vw;
    text-align: center;
}

.slider-details-val {
    font-weight: bold;
    font-size: x-large;
    padding: 0;
    margin: 0;

    border: solid;
    border-color: rgb(222, 222, 222);

    height: 5vh;
    line-height: 4vh;
    width: 15vw;
    text-align: center;
}

.slider-mode {
    font-size:medium;
    color:#04AA6D;
    background-color: rgba(0, 0, 0, 0.5);
}

.slider-controls-stop {
    display: inline-block;
    background: none;
    margin-right: 15px;
    color: red;
    height: 5vh;
}

.slider-controls-stop-icon {
    font-size: 2em;
}

.slider-controls-remove {
    display: inline-block;
    background: none;
}

.slider-controls-remove-icon {
    font-size: 2em;
}

.slider-range {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5vh;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    display: inline-block;
}

.slider-range:hover {
    opacity: 1;
}

.slider-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 5vh;
    background: #04AA6D;
    cursor: pointer;
}

.slider-range::-moz-range-thumb {
    width: 25px;
    height: 5vh;
    background: #04AA6D;
    cursor: pointer;
}

/* #endregion slider */

/* #region toolbar */


.toolbar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0.5em 0 0 0;
    margin-bottom: 1em;
}

.toolbar-one {
    display: inline;
    width: 50vw;
    margin-right: 0.5em;

    /* overflow-y: scroll; */
}

.toolbar-three {
    display: flex;
    flex-direction: column;
}

.topbarRightBtns {
    display: flex;
    flex-direction: row;
    width: 20vw;
    height: 5vh;
    background: none;
}

.topbarRightBtnDev {}

.topbarRightBtn {
    display: block;
    background: none;
    margin: 0 0.25vw 0 0.25vw;
    padding: 0 0.25vw 0 0.25vw;
    height: 5vh;
    line-height: 5vh;
    width: 5vw;
    text-align: center;
}

.modeSelectDiv {
    width: 100%;
    margin-top: 5px;
}

/* #endregion toolbar */

/* #region Inputs */

button {
    border-radius: 25%;
    border: 0;
}

select {
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

select::-ms-expand {
    display: none;
}

select {
    align-items: center;
}

select:after {
    justify-self: end;
}

input {
    font-size: 16px;
    font-size: max(16px, 1em);
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: #fff;
    border: 2px solid var(--input-border);
    border-radius: 4px;
}

.inline-group {
    max-width: 9rem;
    padding: .5rem;
}

.inline-group .form-control {
    text-align: right;
}

.form-control[type="number"]::-webkit-inner-spin-button,
.form-control[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.stepsize-container {
    padding: 0.25em 0.5em 0 0.5em;
}

.stepsize {
    font-size:small;
    margin: 0 0.5em 0 0;
    padding: 0 0.5em 0 0;
}


/* #endregion Inputs */

/* #region Activity */

.activity-table>tr td:nth-child(1) {
    width: 1%;
}

.activity-table>tr td:nth-child(2) {
    width: 1%;
}

.activity-table>tr td:nth-child(3) {
    width: 98%;
}

.activity-table tr:hover {
    background-color: #D6EEEE;
}

.activity-table td {
    padding: 0 0.5em 0 0.5em;
}

.activity-container {
    min-height: 10vh;
    max-height: 10vh;
    overflow-y: scroll;

    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px 5px 0 0;
    scrollbar-width: none;
}

.activity-table {
    color:#04AA6D;
    table-layout: fixed;
    font-size:small;

}

/* #endregion Activity */

/* #region Terminal */

.command-container {
    
}

.command-input {
    border-radius: 0 0 5px 5px;
    border: 2px solid black;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color:#04AA6D;
    width:100%;
    font-size:medium;
    outline: none;
}


.terminal-body {
    padding: 1em;
    background-color: black;
    background-image: radial-gradient(
    rgba(0, 150, 0, 0.75), black 120%
    );
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    color: white;
    font: 1.3rem Inconsolata, monospace;
    text-shadow: 0 0 5px #C8C8C8;
    display: flex;
    flex-direction: column;
}

.terminal-history-container {
    min-height:75vh;
    max-height:75vh;
    overflow-y: scroll;

    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px 5px 0 0;
    scrollbar-width: none;
}

.terminal-history {
    color:#04AA6D;
    table-layout: fixed;
}

.terminal-history>tr td:nth-child(1) {
    width: 1%;
}

.terminal-history>tr td:nth-child(2) {
    width: 1%;
}

.terminal-history>tr td:nth-child(3) {
    width: 98%;
}

.terminal-history tr:hover {
    background-color:black;
}

.terminal-history td {
    padding: 0 0.5em 0 0.5em;
}

.terminal-input-container {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.terminal-input {
    min-height:20vh;
    max-height:20vh;
    border-radius: 0 0 5px 5px;
    
    border: 2px solid black;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color:#04AA6D;
    width:100%;
    font-size:medium;
    outline: none;
}

/* #endregion Terminal */

/* #region Other */

.hosturl-input {
    margin: 0;
    padding: 0;
    background-color: black;
    color:#04AA6D;
    width:50vw;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

::selection {
  background: #0080FF;
  text-shadow: none;
}

footer {
  margin-top: auto;
}

.act-icon {
    margin: 0;
}

.act-in {
    color: green;
    padding: 0;
}

.act-out {
    color: rgb(0, 139, 238);
    padding: 0;
}

.act-bug {
    color: red;
    padding: 0;
}

.statusbar {
    display: flex;
    flex-direction: row;
     height: 5vh; 
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.flex-grow {
    flex-grow: 1;
}

.one {
    border: 1px solid black;
    width: 20px;
    height: 20px;
}

.two {
    border: 1px solid black;
    width: 20px;
    height: 20px;
}

.three {
    border: 1px solid black;
    width: 20px;
    height: 20px;
}


.pulse-input {
    height: 30px;
}

.pulse-btn {}

.slider-increment-btn {
    height: 5vh;
    line-height: 5vh;
    width: 5vw;
    display: inline-block;
    /* background: none; */
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}


.sweep-modal-footer {
    justify-content: space-between;

}

/* #endregion Other */

.matrix-body {
    padding: 1em;
    background-color: black;
    background-image: radial-gradient(
    rgba(0, 150, 0, 0.75), black 120%
    );
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    color: white;
    font: 1.3rem Inconsolata, monospace;
    text-shadow: 0 0 5px #C8C8C8;
    display: flex;
    flex-direction: column;
}

.matrix-history-container {
    min-height:10vh;
    max-height:10vh;
    overflow-y: scroll;

    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px 5px 0 0;
    scrollbar-width: none;
}

.matrix-history {
    color:#04AA6D;
    table-layout: fixed;
}

.matrix-history>tr td:nth-child(1) {
    width: 1%;
}

.matrix-history>tr td:nth-child(2) {
    width: 1%;
}

.matrix-history>tr td:nth-child(3) {
    width: 98%;
}

.matrix-history tr:hover {
    background-color:black;
}

.matrix-history td {
    padding: 0 0.5em 0 0.5em;
}

.matrix-input-container {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.matrix-input {
    min-height:8vh;
    max-height:8vh;
    border-radius: 0 0 5px 5px;
    
    border: 2px solid black;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color:#04AA6D;
    width:100%;
    font-size:medium;
    outline: none;
}

.matrix-container-body {
    display: flex;
    flex-direction: row;
}

.matrix-container {

}

.matrix-controls {
    border-radius: 5px;
    border: 2px solid black;
    padding: 0.25em;
}

.matrix-frame {
    display: flex;
    flex-direction: column;

    border-radius: 5px;
    border: 2px solid black;
    padding: 0.25em;

}

.matrix-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 25px;
    /* border-radius: 5px;
    border: 2px solid blue; */    
}


.matrix-box {
    border-radius: 5px;
    border: 1px solid black;
    width: 25px;
    height: 25px;

    background-color: black;
    background-image: radial-gradient(
    rgba(0, 150, 0, 0.75), black 120%
    );

}